<!DOCTYPE html>
<html>
  <head>
    <title>WorkSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'assets/nav' %>
    <% end %>  
    <br>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
